

body{
    background: #638CB1;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

.dashboards{
    margin: auto;
    padding: 100px;
    padding-top: 10px;
}



#page-title{
    display: flex;

    
}

#page-title-div{
    display: block;
    flex-direction: column;
    left: 63px;
    top: 28px;
    margin: 20px;
}


#page-title-div h2{
    padding-left: 10px;
    margin: 10px;
}

h1{
    font-size: 50px;
    padding-left: 10px;
    margin: 10px;
    font-weight:bold;
}

#upper, #lower{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 30px;

}
.graph-controls, .data{
    width: 416px;
    height: 152px;  
    background: #BADADE;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}
.graph, .pie{
    width: 604px;
    height: 237px;
    background: #BADADE;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    margin: auto;
    
}

.data {
    width: 638px;
    height: 300px;
}
.pie {
    width: 284px;
    height: 300px;
}
/* animations */

.animation {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.7s ease-out;
    /* transition-delay: 0.4s; */

}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}